TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=7qlzjkcY69bTCZiZLuJrhFEFmUxrrhov
NODE_ENV=development
SESSION_DRIVER=cookie
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=root
DB_DATABASE=mini_url




# postgresql://short_url_dt0o_user:FAWD2QdtdugTFRRGTsF2l0rU74bLH5mr@dpg-d6nfucrh46gs73ddcbu0-a.oregon-postgres.render.com/short_url_dt0o
