@component('layout')
<div class="row" style="display:flex;gap:24px">
  <div class="main" style="flex:2">
    <h2>Espace Administration</h2>
    <div class="card" style="margin-bottom: 24px;">
      <p>Bienvenue dans l'espace d'administration. Vous pouvez voir les URLs de tous les utilisateurs ici.</p>
    </div>
  </div>

  <aside class="sidebar" style="flex:3">
    @include('url/list')
  </aside>
</div>
@end
